body{
	background-color: Orangered;
}

.title{
	background-color: Orangered;
	top:40px;
	left:0;
}

.container {
  position: relative;
  width: 100%;
  margin: 5px;
  box-sizing: border-box;
	background-color: Orangered;
}

.container:hover {
	background-color: white;
	border-style:solid;
	border-radius: 30px 0px 30px;
	border-color: white;
	border-width: 0.001px;
	transition: all 1500ms ease;
	transform:scale(1.5);
	transition: all 1500ms ease;
}


.containera {
  position: relative;
  width: 100%;
  margin: 5px;
  box-sizing: border-box;
	background-color: Orangered;
}

.cont{
	border-width: 0px;
}

.containera:hover .cont{
	background-color: white;
	border-style:solid;
	border-radius: 15px 0px 15px;
	border-color: midnightblue;
	border-width: 0.001px;
	transition: all 1500ms ease;
	transform:scale(1.18);
	transition: all 1500ms ease;
}

.kyoo{
	background-color: midnightblue;
	margin: 20px;
	padding: 5%;
	width:290px;
	height:290px;
	float: left;
	position: relative;
}

.kyoolinea{
position: absolute;
top: 325px;
left: 89%;
width: 18px;
height: 135px;
background-color: orangered;
transform: rotate(45deg);
}

.kyoolineb{
position: absolute;
top: 149px;
width: 18px;
height: 135px;
background-color: orangered;
left: 47%;
}

.gee{
	background-color: midnightblue;
	margin: 20px;
	padding: 5%;
	width:290px;
	height:290px;
	float: left;
	position: relative;
}

.geelinea{
	position: absolute;
	top: 202px;
	width: 18px;
	height: 135px;
	background-color: orangered;
	left: 296px;
}

.geelineb{
	position: absolute;
	top: 202px;
	width: 135px;
	height: 18px;
	background-color: orangered;
	left: 299px;
}

.jay{
	background-color: midnightblue;
	margin: 20px;
	padding: 5%;
	width:290px;
	height:290px;
	float: left;
	position: relative;
}

.jaylinea{
	position: absolute;
	top: 202px;
	width: 18px;
	height: 135px;
	background-color: orangered;
	left: 117px;
}

.jaylineb{
	position: absolute;
	top: 202px;
	width: 135px;
	height: 18px;
	background-color: orangered;
	left: 0px;
}

.alpha{
	background-color: midnightblue;
	padding: 3%;
	margin-top: 35%;
	width:100;
	margin-left: -10px;
	position: absolute;
}

.a {
	background-color: orangered;
	margin-top: 50%;
	margin: 3%;
	width:140px;
	float:left;
	position: relative;
	height:140px;
	border-style:none;
}

.alinea{
position: absolute;
top: 40px;
left: 34%;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.alineb{
position: absolute;
top: 95px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
border-style:none;
}

.a:  .alinea {
	border-style:solid;
	border-radius: 10px;
	border-color: midnightblue;
	border-width: 2px;
	transition: all 500ms ease;
}

.a:  .alineb {
    border-style:solid;
		border-radius: 10px;
		border-color: midnightblue;
		border-width: 2px;
		transition: all 500ms ease;
}

.b {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.blinea{
position: absolute;
top: 40px;
left: 34%;
width: 45px;
height: 8px;
background-color: midnightblue;
border-style:none;
}

.blineb{
position: absolute;
top: 95px;
left: 34%;
width: 45px;
height: 8px;
background-color: midnightblue;
border-style:none;
}

.blinec{
position: absolute;
top:68px;
width: 45px;
height: 8px;
background-color: midnightblue;
left: 95px;
border-style:none;
}

.c {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.clinea{
position: absolute;
top:49px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 95px;
}

.clineb{
position: absolute;
top:68px;
width: 45px;
height: 8px;
background-color: midnightblue;
left: 95px;
}

.d {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.dtria{
	left:95px;
	position: absolute;
	width: 0;
		height: 0;
		border-left: 45px solid transparent;
		border-right: 0px solid transparent;
		border-top: 45px solid midnightblue;
}

.dlinea{
position: absolute;
top: 49px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
}

.dtrib{
	left:95px;
	top:95px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 45px solid midnightblue;
}

.e {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
margin-bottom: 0px;
}

.elinea{
position: absolute;
top: 40px;
left: 95px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.elineb{
position: absolute;
top: 95px;
left: 95px;
width: 45px;
height: 8px;
background-color: midnightblue;
}


.f {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.flinea{
position: absolute;
top: 40px;
left: 95px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.fsqa{
position: absolute;
top: 95px;
left: 95px;
width: 45px;
height: 45px;
background-color: midnightblue;
border-width: 2px;
border-color: midnightblue;
}

.g {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.glinea{
position: absolute;
top:68px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 95px;
}

.glineb{
position: absolute;
top:68px;
width: 45px;
height: 8px;
background-color: midnightblue;
left: 95px;
}


.h {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.hlinea{
position: absolute;
top: 0px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
}

.hlineb{
position: absolute;
top: 95px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
}

.i {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
margin-bottom: 0px;
}

.ilinea{
position: absolute;
top: 68px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.ilineb{
	position: absolute;
	top: 68px;
	width: 45px;
	height: 8px;
	background-color: midnightblue;
	left:95px;
}

.j {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
margin-bottom: 0px;
}

.jlinea{
position: absolute;
top:68px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 37px;
}

.jlineb{
position: absolute;
top:68px;
width: 45px;
height: 8px;
background-color: midnightblue;
left: 0px;
}

.k {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.klinea{
	position: absolute;
	top: 95px;
	width: 8px;
	height: 45px;
	background-color: midnightblue;
	left: 47%;
}

.klineb{
	position: absolute;
	top: 0px;
	width: 8px;
	height: 45px;
	background-color: midnightblue;
	left: 47%;
}

.ktria{
	left: 118px;
  top: 47px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 0px solid transparent;
	border-top: 45px solid midnightblue;
  transform:rotate(225deg);
}

.l {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.lsqa{
position: absolute;
top: 0px;
left: 95px;
width: 45px;
height: 45px;
background-color: midnightblue;
}

.m {
	background-color: orangered;
	margin-top: 50%;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.mtria{
	position: absolute;
	top:-23px;
	left:47px;
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 0px solid transparent;
	border-top: 45px solid midnightblue;
  transform:rotate(135deg);
}

.mlinea{
	position: absolute;
	top: 95px;
	width: 8px;
	height: 45px;
	background-color: midnightblue;
	left: 37px;
}

.mlineb{
	position: absolute;
	top: 95px;
	width: 8px;
	height: 45px;
	background-color: midnightblue;
	left: 95px;
}

.n {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.nlinea{
	position: absolute;
	top: 95px;
	width: 8px;
	height: 45px;
	background-color: midnightblue;
	left: 37px;
}

.nlineb{
	position: absolute;
	top: 0px;
	width: 8px;
	height: 45px;
	background-color: midnightblue;
	left: 95px;
}

.o {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.olinea{
position: absolute;
top: 49px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
}

.p {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.plinea{
position: absolute;
top: 40px;
left: 34%;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.psqa{
position: absolute;
top: 95px;
left: 95px;
width: 45px;
height: 45px;
background-color: midnightblue;
}

.q {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.qlinea{
position: absolute;
top: 123px;
left: 75%;
width: 45px;
height: 8px;
background-color: midnightblue;
transform: rotate(135deg);
border-color: midnightblue;
}

.qlineb{
position: absolute;
top: 49px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
border-color: midnightblue;
}

.q:hover  .qlinea {
	top:104px;
	left: 55%;
	width: 95px;
	height: 8px;
	border-style:solid;
	border-radius: 10px;
	border-color: midnightblue;
	border-width: 2px;
	transition: all 1500ms ease;
}

.r {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.rlinea{
	position: absolute;
	top: 95px;
	width: 8px;
	height: 45px;
	background-color: midnightblue;
	left: 47%;
}

.rlineb{
	position: absolute;
	top: 40px;
	left: 34%;
	width: 45px;
	height: 8px;
	background-color: midnightblue;
}

.rtria{
	left: 118px;
  top: 47px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 0px solid transparent;
	border-top: 45px solid midnightblue;
  transform:rotate(225deg);
}

.s {
	background-color: orangered;
	margin-top: 50%;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.slinea{
position: absolute;
top: 40px;
left: 95px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.slineb{
position: absolute;
top: 95px;
left: 0px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.stria{
	left: 0px;
  top: 0px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 45px solid transparent;
	border-top: 45px solid midnightblue;
}

.t {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.tsqa{
position: absolute;
top: 95px;
left: 0px;
width: 45px;
height: 45px;
background-color: midnightblue;
}

.tsqb{
position: absolute;
top: 95px;
left: 95px;
width: 45px;
height: 45px;
background-color: midnightblue;
}

.u {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.ulinea{
position: absolute;
top: 0px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
}

.v {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.vlinea{
position: absolute;
top: 0px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
}

.vtria{
	left: 95px;
  top: 95px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 0px solid orangered;
	border-bottom: 45px solid midnightblue;
}

.vtrib{
	left: 0px;
  top: 95px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 45px solid transparent;
	border-bottom: 45px solid midnightblue;
}

.w {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.wtria{
	position: absolute;
	top: 118px;
	left: 47px;
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 0px solid transparent;
	border-top: 45px solid midnightblue;
  transform:rotate(315deg);
}

.wlinea{
	position: absolute;
	top: 0px;
	width: 8px;
	height: 45px;
	background-color: midnightblue;
	left: 37px;
}

.wlineb{
	position: absolute;
	top: 0px;
	width: 8px;
	height: 45px;
	background-color: midnightblue;
	left: 95px;
}

.x {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.xlinea{
position: absolute;
top: 0px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
}

.xlineb{
position: absolute;
top: 95px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
}

.xlinec{
position: absolute;
top: 68px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.xlined{
	position: absolute;
	top: 68px;
	width: 45px;
	height: 8px;
	background-color: midnightblue;
	left:95px;
}

.y {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.ylinea{
position: absolute;
top: 0px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
}

.ytria{
	position: absolute;
	top: 95px;
	left: 0px;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 45px solid transparent;
	border-top: 45px solid midnightblue;
}

.z {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.ztria{
	position: absolute;
	top: 45px;
	left: 0px;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 45px solid transparent;
	border-top: 45px solid midnightblue;
}

.ztrib{
	left: 95px;
  top: 45px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 0px solid orangered;
	border-bottom: 45px solid midnightblue;
}

.zero {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.zerolinea{
position: absolute;
top: 49px;
width: 8px;
height: 45px;
background-color: midnightblue;
left: 47%;
}

.zerotrib{
	left: 0px;
  top: 95px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 45px solid transparent;
	border-bottom: 45px solid midnightblue;
}

.zerotria{
	left:95px;
	position: absolute;
	width: 0;
		height: 0;
		border-left: 45px solid transparent;
		border-right: 0px solid transparent;
		border-top: 45px solid midnightblue;
}

.zerotrib{
	left: 0px;
  top: 95px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 45px solid transparent;
	border-bottom: 45px solid midnightblue;
}

.one {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.onesqa{
position: absolute;
top: 95px;
left: 0px;
width: 45px;
height: 45px;
background-color: midnightblue;
}

.onetria{
	position: absolute;
	top: 50px;
	left: 0px;
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 0px solid orangered;
	border-bottom: 45px solid midnightblue;
}

.two {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.twolinea{
position: absolute;
top: 40px;
left: 0px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.twolineb{
position: absolute;
top: 95px;
left: 95px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.twotria{
	left:95px;
	position: absolute;
	width: 0;
		height: 0;
		border-left: 45px solid transparent;
		border-right: 0px solid transparent;
		border-top: 45px solid midnightblue;
}

.three {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.threelinea{
	position: absolute;
	top: 40px;
	left: 0px;
	width: 45px;
	height: 8px;
	background-color: midnightblue;
	}

	.threelineb{
	position: absolute;
	top: 95px;
	left: 0px;
	width: 45px;
	height: 8px;
	background-color: midnightblue;
	}

.threetria{
	left: 118px;
  top: 47px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 0px solid transparent;
	border-top: 45px solid midnightblue;
  transform:rotate(225deg);
}

.four {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.foursqa {
    position: absolute;
    top: 95px;
    left: 0px;
    width: 45px;
    height: 45px;
    background-color: midnightblue;
}

.fourlinea {
    position: absolute;
    top: 0px;
    width: 8px;
    height: 45px;
    background-color: midnightblue;
    left: 47%;
}

.fourtria {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 45px solid transparent;
    border-top: 45px solid midnightblue;
}

.five {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.fivelinea{
position: absolute;
top: 40px;
left: 95px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.fivelineb{
position: absolute;
top: 95px;
left: 0px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.six {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.sixlinea{
position: absolute;
top: 40px;
left: 95px;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.sixlineb{
    position: absolute;
    top: 95px;
    left: 34%;
    width: 45px;
    height: 8px;
    background-color: midnightblue;
	}

.seven {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.seventria{
	position: absolute;
	top: 45px;
	left: 0px;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 45px solid transparent;
	border-top: 45px solid midnightblue;
}

.seventrib{
	left: 95px;
  top: 95px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 0px solid orangered;
	border-bottom: 45px solid midnightblue;
}

.eight {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.eightlinea{
position: absolute;
top: 40px;
left: 34%;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.eightlineb{
position: absolute;
top: 95px;
left: 34%;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.nine {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.ninelinea{
position: absolute;
top: 40px;
left: 34%;
width: 45px;
height: 8px;
background-color: midnightblue;
}

.ninelineb{
    position: absolute;
    top: 95px;
    left: 0;
    width: 45px;
    height: 8px;
    background-color: midnightblue;
	}

.ques {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.queslineb{
    position: absolute;
    top: 95px;
    left: 0;
    width: 140px;
    height: 8px;
    background-color: midnightblue;
	}

	.queslinea {
	    position: absolute;
	    top: 40px;
	    left: 0px;
	    width: 45px;
	    height: 8px;
	    background-color: midnightblue;
	}

	.quessqa{
	position: absolute;
	top: 95px;
	left: 95px;
	width: 45px;
	height: 45px;
	background-color: midnightblue;
	}

.ex {
	background-color: orangered;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.exlinea{
    position: absolute;
    top: 95px;
    left: 0;
    width: 140px;
    height: 8px;
    background-color: midnightblue;
	}

.per {
	background-color: midnightblue;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.persq {
    position: absolute;
    top: 95px;
    left: 0px;
    width: 45px;
    height: 45px;
    background-color: orangered;
}

.com {
	background-color: midnightblue;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.comsq {
    position: absolute;
    top: 95px;
    left: 0px;
    width: 45px;
    height: 45px;
    background-color: orangered;
}

.comtria{
	position: absolute;
	top: 30px;
	left: -1px;
	width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid midnightblue;
}

.comtrib{
	left: 31px;
  top: 30px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 0px solid orangered;
	border-bottom: 15px solid midnightblue;
}

.quoo {
	background-color: midnightblue;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.quoosq {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 45px;
    background-color: orangered;
}

.quoosqa{
	left: 31px;
  top: 0px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 0px solid orangered;
	border-bottom: 15px solid midnightblue;
}

.quoosqsq {
    position: absolute;
    top: 0px;
    left: 55px;
    width: 45px;
    height: 45px;
    background-color: orangered;
}

.quoosqsqa{
	left: 31px;
  top: 0px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 0px solid orangered;
	border-bottom: 15px solid midnightblue;
}

.quoc {
	background-color: midnightblue;
	margin: 3%;
	width:140px;
	height:140px;
	float:left;
	position: relative;
}

.quocsq {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 45px;
    height: 45px;
    background-color: orangered;
}

.quocsqa {
    position: absolute;
    top: 30px;
    left: -1px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid midnightblue;
}

.quocsqsq {
    position: absolute;
    top: 0px;
    left: 95px;
    width: 45px;
    height: 45px;
    background-color: orangered;
}

.quocsqsqa {
    position: absolute;
    top: 30px;
    left: -1px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid midnightblue;
}
